{% extends "layout.html" %}

{% block title %}
    Search for a Movie
{% endblock %}

{% block main %}
<h1 class="display-5 fw-bold">About Me!</h1>
<p> </p>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Hi, I'm Mert Can.</p>
      <p class="lead mb-4">And this is MovieChecker.</p>
      <p class="lead mb-4">This will be my submission for the CS50-2021 Final Project. In this app you can search for movies, add them to your favorites, remove them and check your history.</p>
      <p class="lead mb-4">The project is based on the CS50-Finance homework we did for week 9. But I think I've made good use of CS50-Finance as a skeleton for this project.</p>
      <p class="lead mb-4">I used Flask, and SQLite database, and used an API from The Movie Database to complete the project.</p>
    
{% endblock %}